<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ glob_nom_congres }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ asset('bundles/backcondashboard/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
        height: 100%;
      }
      .modal {
        width: 460px;
      	margin: -140px 0 0 -230px;
      }
      .modal-body {
        padding: 15px 15px 0 15px;
      }
      form {
      	margin: 0;
      }
    </style>
  </head>

  <body>
  
  <div class="modal">
  	<div class="modal-header">
        <h3>{{ glob_nom_congres }}</h3>
    </div>
    {% block content %}
    {% endblock %}
    
  </div>
  
  </body>
</html>
