{% extends "BackconDashboardBundle::layout.html.twig" %}

{% block page_header %}
	<h1>Paramètres <small>> Général</small></h1>
{% endblock %}

{% block content %}
<div class="span4">
	<h3>Actions</h3>
	<dl>
		<hr>
		<dd><a href="{{ path('parametres_general_utilisateurs') }}">Liste des utilisateurs</a></dd>
	</dl>
</div>
<div class="span10">
	{% include 'BackconDashboardBundle:Parametres:menu.html.twig' with {'general': true} %}
	
	    <div class="actions">
          <input class="btn primary" type="submit" value="Enregistrer les modifications" />
        </div>
    </fieldset>
	</form>
</form>
</div>
{% endblock %}